In [2]:
import numpy as np
import pandas as pa

In [13]:
v_file = './data/neat/2019-05-17/47c44270-788d-11e9-8bb2-acde48001122_vrep_simulation.dat'

In [29]:
t_file = './data/neat/2019-05-17/1_vrep_simulation.dat'

In [21]:
names = ['id', 'net_left', 'net_right',
         'normalized_left', 'normalized_right',
         'sensor_activation', 'norm_sensor_activation',
         'wheel_center', 'straight_movements',
         'obstacle_distance', 's_max_activation', 'fitness_t', 'robot_position']

def tryconvert(value, default, t):
    try:
        return t(value)
    except (ValueError, TypeError):
        pass
    return default(value)

def sanitize_array(value):
    try:
        return np.array(list(map(float, value.replace('[', '').replace(']', '').split())), dtype=float)
    except (ValueError, TypeError):
        pass
    return np.NaN


converters = {
    0: lambda x: tryconvert(x, str, int),
    1: lambda x: float(x),
    2: lambda x: float(x),
    3: lambda x: float(x),
    4: lambda x: float(x),
    5: lambda x: sanitize_array(x),
    6: lambda x: sanitize_array(x),
    7: lambda x: float(x),
    8: lambda x: float(x),
    9: lambda x: float(x),
    10: lambda x: float(x),
    11: lambda x: float(x),
    12: lambda x: sanitize_array(x),
    
}

In [30]:
t_dt = pa.read_csv(t_file, sep=',', names=names, converters=converters, header=None, na_values=['None'])

In [22]:
v_dt = pa.read_csv(v_file, sep=',', names=names, converters=converters, header=None, na_values=['None'])

In [31]:
t_dt.head()

,id,net_left,net_right,normalized_left,normalized_right,sensor_activation,norm_sensor_activation,wheel_center,straight_movements,obstacle_distance,s_max_activation,fitness_t,robot_position
0,1,0.972675,0.00003,1.890699,-1.99988,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.486352,0.013772,1.0,0.0,0.006698,NaN
1,1,0.972675,0.00003,1.890699,-1.99988,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.486352,0.013772,1.0,0.0,0.006698,NaN
2,1,0.972675,0.00003,1.890699,-1.99988,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.486352,0.013772,1.0,0.0,0.006698,NaN
3,1,0.972675,0.00003,1.890699,-1.99988,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.486352,0.013772,1.0,0.0,0.006698,NaN
4,1,0.972675,0.00003,1.890699,-1.99988,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.486352,0.013772,1.0,0.0,0.006698,NaN

In [23]:
v_dt.head()

,id,net_left,net_right,normalized_left,normalized_right,sensor_activation,norm_sensor_activation,wheel_center,straight_movements,obstacle_distance,s_max_activation,fitness_t,robot_position
0,47c44270-788d-11e9-8bb2-acde48001122,0.505227,0.472404,0.02091,-0.110384,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.488816,0.818828,1.0,0.0,0.400256,NaN
1,47c44270-788d-11e9-8bb2-acde48001122,0.505227,0.472404,0.02091,-0.110384,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.488816,0.818828,1.0,0.0,0.400256,NaN
2,47c44270-788d-11e9-8bb2-acde48001122,0.505227,0.472404,0.02091,-0.110384,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.488816,0.818828,1.0,0.0,0.400256,NaN
3,47c44270-788d-11e9-8bb2-acde48001122,0.505227,0.472404,0.02091,-0.110384,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.488816,0.818828,1.0,0.0,0.400256,NaN
4,47c44270-788d-11e9-8bb2-acde48001122,0.505227,0.472404,0.02091,-0.110384,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.488816,0.818828,1.0,0.0,0.400256,NaN

In [123]:
from utility.util_functions import scale, normalize
w = np.array([1.0, -.0])
print('_abs: ', np.absolute(w[0] - w[1]))
print('norm: ', normalize(np.absolute(w[0] - w[1]), 0.0, 4.0))
print('delt: ', (np.sqrt(normalize(np.absolute(w[0] - w[1]), 0.0, 4.0))))
print('fitn: ', (1 - (np.sqrt(normalize(np.absolute(w[0] - w[1]), 0.0, 4.0)))))

_abs:  1.0
norm:  0.25
delt:  0.5
fitn:  0.5

In [6]:
ind1 = np.array([[-0.12614495,  0.07736253,  0.01967431, -0.08993146,  0.0251386 ],
       [ 0.17205839,  0.01508499, -0.01068268,  0.14408804,  0.00515667],
       [ 0.06776601, -0.03860423, -0.05181826,  0.13227466, -0.09476091],
       [ 0.08051246, -0.02406461, -0.10256433,  0.0387477 ,  0.01504011],
       [-0.01686729, -0.0225782 ,  0.01745166,  0.0395343 , -0.1166985 ],
       [-0.02336994, -0.00698865,  0.02778573, -0.06255804, -0.13391905],
       [ 0.0829831 , -0.06569492, -0.03450424,  0.0797508 , -0.07435729]],
      dtype=np.float32),

In [8]:
ind2 = np.array([[-0.07435729, -0.02336994, -0.10256433, -0.12614495,  0.0395343 ],
       [-0.02406461, -0.08993146, -0.13391905,  0.0829831 ,  0.06776601],
       [ 0.14408804,  0.01967431, -0.1166985 , -0.05181826,  0.17205839],
       [ 0.0797508 , -0.03860423,  0.01745166, -0.0225782 , -0.06569492],
       [ 0.07736253,  0.00515667,  0.02778573,  0.08051246,  0.13227466],
       [-0.06255804, -0.09476091,  0.0251386 , -0.01068268, -0.03450424],
       [ 0.01508499,  0.01504011,  0.0387477 , -0.01686729, -0.00698865]],
      dtype=np.float32),

In [9]:
np.array_equal(ind1, ind2)

False

In [ ]:
n