In [1]:
import numpy as np
import pandas as pa

In [2]:
t_best = './data/results/thymio_to_vrep/thymio_1_best_1_270_hw_simulation.txt'
t_v_best = './data/results/thymio_to_vrep/thymio_1_best_1ToVrep_270_simulation.txt'

names = ['id', 'net_left', 'net_right',
         'normalized_left', 'normalized_right',
         'sensor_activation', 'norm_sensor_activation',
         'wheel_center', 'straight_movements',
         'obstacle_distance', 's_max_activation', 'fitness_t', 'robot_position']

converters = {
    0: lambda x: int(x),
    1: lambda x: float(x),
    2: lambda x: float(x),
    3: lambda x: float(x),
    4: lambda x: float(x),
    5: lambda x: np.array(list(map(float, x.replace('[', '').replace(']', '').split())), dtype=float),
    6: lambda x: np.array(list(map(float, x.replace('[', '').replace(']', '').split())), dtype=float),
    7: lambda x: float(x),
    8: lambda x: float(x),
    9: lambda x: float(x),
    10: lambda x: float(x),
    11: lambda x: float(x),
    12: lambda x: np.array(list(map(float, x.replace('[', '').replace(']', '').split())), dtype=float),
    
}

t_dt = pa.read_csv(t_best, sep=',', names=names, converters=converters, header=None)
v_dt = pa.read_csv(t_v_best, sep=',', names=names, converters=converters, header=None)

In [3]:
t_dt.head()

,id,net_left,net_right,normalized_left,normalized_right,sensor_activation,norm_sensor_activation,wheel_center,straight_movements,obstacle_distance,s_max_activation,fitness_t,robot_position
0,270,1.0,0.999494,199.99996,199.797763,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,"[0.2166817, 0.5126811]"
1,270,1.0,0.999494,199.99996,199.797763,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,"[0.2166817, 0.5126811]"
2,270,1.0,0.999494,199.99996,199.797763,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,"[0.2166817, 0.5126811]"
3,270,1.0,0.999494,199.99996,199.797763,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,"[0.2166817, 0.5126811]"
4,270,1.0,0.999494,199.99996,199.797763,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,"[0.2166817, 0.5126811]"

In [4]:
v_dt.head()

,id,net_left,net_right,normalized_left,normalized_right,sensor_activation,norm_sensor_activation,wheel_center,straight_movements,obstacle_distance,s_max_activation,fitness_t,robot_position
0,270,1.0,0.999494,2.0,1.997978,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,[]
1,270,1.0,0.999494,2.0,1.997978,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,[]
2,270,1.0,0.999494,2.0,1.997978,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,[]
3,270,1.0,0.999494,2.0,1.997978,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,[]
4,270,1.0,0.999494,2.0,1.997978,"[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.999747,0.977517,1.0,0.0,0.97727,[]